.wrapper {
  margin: 0 12px;
}

.header {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 20px 0;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
  .left,
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #fff;
    height: 32px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    cursor: pointer;
  }
  .left {
    position: absolute;
    left: 0px;
  }
  .right {
    position: absolute;
    right: 0;
  }
  .header-item {
    font-size: 24px;
    list-style: none;
    margin-right: 12px;
    background-color: rgba(22, 24, 35, 0.06);
    border: none;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 10px 11px;
    &:active {
      border: 1px solid rgba(22, 24, 35, 0.5);
    }

    span {
      flex: 1;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      margin-left: 6px;
      white-space: nowrap;
    }
  }
}
//video
.cover {
  display: flex;
  flex-wrap: wrap;
}
.container {
  cursor: pointer;
  margin: 0 15px 15px 0;
  position: relative;
  width: 330px;
  height: 530px;
  .video {
    height: 440px;
    border-radius: 12px;
    border: none;
    overflow: hidden;
  }
  .toggle {
    position: absolute;
    bottom: calc(20%);
    left: 14px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    z-index: 1;
    .toggle-item {
      margin-right: 6px;
    }
  }
}

.discover-user {
  .content-item {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
  }
  .tag {
    color: blue;
    font-size: 15px;
    font-weight: 700;
  }
  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-main {
      display: flex;
      align-items: center;
      img {
        width: 24px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
    .user-item {
      font-size: 17px;
      color: rgba(22, 24, 35, 0.6);
      font-weight: 600;
      .like {
        margin-left: 5px;
      }
    }
  }
}
