.container {
  display: flex;
  position: relative;
  width: 100%;
}
.sidebar {
  width: calc(18%);
  margin-top: var(--max-height-header);
  position: fixed;
  overflow-y: scroll;
}
.content {
  width: calc(82%);
  margin-top: var(--max-height-header);
  position: absolute;
  right: 0;
}
